@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply p-2 px-4 bg-gradient-to-r from-secondaryColor to-altSecondaryColor text-backgroundColor duration-300 hover:bg-altSecondaryColor rounded-md hover:animate-pulse hover:scale-105 font-semibold shadow-emerald-300 shadow-2xl 
  }
  .main-input {
    @apply p-3 rounded-md bg-transparent  shadow-main-shadow
  }
}
*:focus {
  outline: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}